.player__container {
  height: 15%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  padding: .8rem;
  width: 100vw;
  background-color: #282828;
}

.player__details__container {
  flex: .3;
}

.player__controls__container {
  flex: .4;
}

.player__volume__container {
  flex: .3;
}