.player__container {
  height: 100%;
  position: fixed;
  width: 100vw;
}

.player__container .PlayerRSWP {
  height: 100%;
}

.rswp__active>img {
  margin-top: .5rem;
  margin-left: .2rem;
  margin-right: .2rem;
  object-fit: contain;
}

/* .__nnvdcq>p,
.__nnvdcq>svg {
  top: 2.5rem;
} */


/* .player__details__container {
  display: flex;
  align-items: center;
  color: white;
  width: 12rem;
  flex: 0.3;
}

.player__controls__container {
  display: flex;
  flex: .4;
  align-items: center;
  padding: 0 1.5rem;
  color: white;
  justify-content: space-between;
  max-width: 20rem;
}

.player__volume__container {
  display: flex;
  flex: 0.3;
  min-width: 7rem !important;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.player__container * .MuiSlider-colorPrimary {
  color: green;
}

.player__details__container .player__details__albumLogo {
  height: 2.4rem;
  width: 2.4rem;
  margin-right: .8rem;
  object-fit: contain;
}

.player__details__container .player__details__songInfo>h4 {
  margin-bottom: .2rem;
}

.player__details__container .player__details__songInfo>p {
  font-size: .6rem;
}

.player__container .player__controls__green {
  color: #1ed15e;
}

.player__controls__icon:hover,
.player__controls__green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
} */