.sidebar__option__container {
  display: flex;
  align-items: center;
  color: gray;
  height: 1.4rem;
  cursor: pointer;
  padding-left: .2rem;
  padding-right: .2rem;
  transition: 200ms color ease-in;
}

.sidebar__option__container:hover {
  color: white;
}

.sidebar__option__icon {
  padding: 0 .2rem;
}