.sidebar__container {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  padding-left: .2rem;
  padding-right: .2rem;
  min-width: 9rem;
  color: white;
  background-color: #040404;
}

.sidebar__title {
  margin-left: .4rem;
  padding: .1rem;
  font-size: .5rem;
}

.sidebar__logo {
  margin-right: auto;
  object-fit: contain;
  height: 70px;
  padding: 10px;
}